.maindiv {
    background: black;
}

.linkline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
}

.contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.followus {
    
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.greetlist  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}